   
  <div class="main-wrap">

      <!-- Movie Section -->
      <div class="section section-padding movie-section">
          <div class="container">
              <div class="row">
                  <div class="col-sm-8 col-xs-6">
                      <div class="section-header">
                          <h2 class="section-title">Latest Movies</h2>
                      </div>
                  </div>
                  <div class="col-sm-4 col-xs-6">
                      <a class="all-link" href="movie.html">See All Movies</a>
                  </div>
              </div>

              <div class="row">
                  <div class="owl-carousel video-carousel" id="video-carousel">
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/1.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Wonder Women</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/2.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Captain America</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/3.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">The City Truck</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/4.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Dark Night 2</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/1.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Wonder Women</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/2.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Captain America</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/3.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">The City Truck</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/4.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Dark Night 2</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Movie Section End -->

      <!-- Upcoming Movie Section -->
      <div class="section section-padding bg-image upcomming-section text-white">
          <div class="container">
              <div class="row">
                  <div class="col-md-8">
                      <div class="section-header">
                          <h2 class="section-title">Upcomming Movie</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-9">
                      <div class="upcomming-featured">
                          <img class="img-responsive" src="assets/images/movies/upcomming-featured.png" alt="Upcomming Featured">
                          <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                          <div class="upcomming-details">
                              <h4 class="video-title"><a href="movie-detail.html">Fright Night (2017)</a></h4>
                              <p class="video-release-on">12 Jul 2017</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-12 sm-top-30">
                      <div class="upcomming-item">
                          <img class="img-responsive" src="assets/images/movies/upcomming-1.png" alt="Upcomming featured">
                          <div class="upcomming-details">
                              <h4 class="video-title"><a href="movie-detail.html">Basketball</a></h4>
                              <p class="video-release-on">26 Jul 2017</p>
                          </div>
                          <div class="upcomming-hover">
                              <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                          </div>
                      </div>
                      <div class="upcomming-item">
                          <img class="img-responsive" src="assets/images/movies/upcomming-2.png" alt="Upcomming">
                          <div class="upcomming-details">
                              <h4 class="video-title"><a href="movie-detail.html">Expandable</a></h4>
                              <p class="video-release-on">27 Jul 2017</p>
                          </div>
                          <div class="upcomming-hover">
                              <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                          </div>
                      </div>
                      <div class="upcomming-item">
                          <img class="img-responsive" src="assets/images/movies/upcomming-3.png" alt="upcomming">
                          <div class="upcomming-details">
                              <h4 class="video-title"><a href="movie-detail.html">Devine Girl</a></h4>
                              <p class="video-release-on">28 Jul 2017</p>
                          </div>
                          <div class="upcomming-hover">
                              <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Upcoming Movie Section End -->

      <!-- TV Show Section -->
      <div class="section section-padding tvshow-section">
          <div class="container">
              <div class="row">
                  <div class="col-sm-8 col-xs-6">
                      <div class="section-header">
                          <h2 class="section-title">TV Shows</h2>
                      </div>
                  </div>
                  <div class="col-sm-4 col-xs-6">
                      <a class="all-link" href="#">See All Shows</a>
                  </div>
              </div>

              <div class="row">
                  <div class="owl-carousel video-carousel tvshow-carousel" id="tvshow-carousel">
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/1.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Wonder Women</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/2.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Captain America</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/3.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">The City Truck</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/4.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Dark Night 2</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/1.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Wonder Women</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/2.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Captain America</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/3.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">The City Truck</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                      <div class="video-item">
                          <div class="thumb-wrap">
                              <img src="assets/images/movies/4.png" alt="Movie Thumb">
                              <span class="rating">9.2</span>
                              <div class="thumb-hover">
                                  <a class="play-video" href="https://www.youtube.com/watch?v=5cY5PHE4x_g"><i class="fa fa-play"></i></a>
                              </div>
                          </div>
                          <div class="video-details">
                              <h4 class="video-title"><a href="movie-detail.html">Dark Night 2</a></h4>
                              <p class="video-release-on">22 Jun 2017</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- TV Show Section End -->

      <!-- News -->
      <div class="section section-padding top-padding-normal news-section">
          <div class="container">
              <div class="row">
                  <div class="col-xs-8">
                      <div class="section-header">
                          <h2 class="section-title">News Feed</h2>
                      </div>
                  </div>
                  <div class="col-xs-4">
                      <a class="all-link" href="news.html">See All News</a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <a class="news-featured" href="news-detail.html">
                          <img class="img-responsive" src="assets/images/news/featured-news.png" alt="Featured news thumb">
                          <span class="news-date-meta">12 Jun, 2017</span>
                          <div class="news-content">
                              <h4 class="news-title">It is a long established fact that a reader will be distracted by the readable</h4>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-6 sm-top-30">
                      <div class="news-item">
                          <a class="news-thumb" href="news-detail.html">
                              <img src="assets/images/news/1.png" alt="News thumb">
                          </a>
                          <div class="news-content">
                              <span class="news-date-meta">25 Jun, 2017</span>
                              <h4 class="news-title"><a href="news-detail.html">It is a long established fact that</a></h4>
                              <p class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ut recusandae, vero voluptate expedita unde.</p>
                          </div>
                      </div>
                      <div class="news-item">
                          <a class="news-thumb" href="news-detail.html">
                              <img src="assets/images/news/2.png" alt="News thumb">
                          </a>
                          <div class="news-content">
                              <span class="news-date-meta">25 Jun, 2017</span>
                              <h4 class="news-title"><a href="news-detail.html">It is a long established fact that</a></h4>
                              <p class="news-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ut recusandae, vero voluptate expedita unde.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- News End -->

  </div>