<h1>I am child component</h1>

String Interpolation<br>

<h2>Welcome to {{returnCourse()}} {{version}} </h2>

property binding

<button class="btn btn-primary" [disabled] = "input" >Submit</button>

Event Bindng

<input type="text" (input)="catchInput($event)"><br>

<br>
two way
<input [(ngModel)]="inputvalue">
{{inputvalue}}